body {
  background-color: hsl(220, 15%, 55%);
  font-family: sans-serif;
}

.qr-img {
  height: 470px;
  width: 300px;
  background-color: white;
  margin: 200px auto;
  border-radius: 15px;
}

.img {
  height: 270px;
  width: 270px;
  margin: 15px;
  border-radius: 10px;
}

h3 {
  margin: 10px 25px 10px 25px;
  text-align: center;

}

p {
  margin: 15px 25px;
  text-align: center;
  font-size: 15px;
}
